<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">
    <link rel="stylesheet" href="/stylesheets/actor.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <title>Movie Mela</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">MovieMela</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <%if(currentUser){%>
                <li class="nav-item active">
                    <a class="nav-link" href="/myfavourite/<%=currentUser._id%>">Favourite</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/logout">Log Out</a>
                </li>

                <%}else{%>
                <li class="nav-item active">
                    <a class="nav-link" href="/signup">Sign Up</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/login">Log in</a>
                </li>
                <%}%>
                    </ul>
                    <form class="form-inline my-2 my-lg-0" action="/search">
                        <input class="form-control mr-sm-2" type="text" name="name" placeholder="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>
    <div class="jumbotron">

        <div class="poster">
            <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/<%=data["profile_path"]%>"
                alt="<%=data["name"]%>">
        </div>
        <div class="bio">
            <h1><%=data["name"]%>
                <%if(data["external_ids"]["facebook_id"]){%>
                <span class="social">

                    <a target="_blank" href="https://www.facebook.com/<%=data["external_ids"]["facebook_id"]%>">
                        <span><i class="fab fa-facebook-square"></i></span></a>

                    <%}%>  
                            <%if(data["external_ids"]["instagram_id"]){%>
                    <a target="_blank" href="https://www.instagram.com/<%=data["external_ids"]["instagram_id"]%>">
                        <span><i class="fab fa-instagram"></i></span></a>

                    <%}%> 
                                    <%if(data["external_ids"]["twitter_id"]){%>
                    <a target="_blank" href="https://www.twitter.com/<%=data["external_ids"]["twitter_id"]%>"> <span><i
                                class="fab fa-twitter"></i></span></a>

                    <%}%>            
                </span>
            </h1>
            <h3>Biography</h3>
            <p class="bio-text"><%=data["biography"].substring(0,500)%><span id="dots">...</span><span
                        id="more"><%=data["biography"].substring(500)%></span></p>
                    <button onclick="myFunction()" id="myBtn">Read more</button>
        </div>
        <h3 class="known">Also Known For</h3>
        <div class="row">
            <%known.forEach((element)=>{%>
            <div class="col-sm-3 col-xs-6 best" style="padding:0;">
                <a href="/display/<%=element["id"]%>"><img
                        src="https://image.tmdb.org/t/p/w300_and_h450_face/<%=element["poster_path"]%>"
                        alt="<%=element["original_title"]%>"></a>
            </div>
            <%});%>
        </div>
        </div>
        <script>
            function myFunction() {
                var dots = document.getElementById("dots");
                var moreText = document.getElementById("more");
                var btnText = document.getElementById("myBtn");

                if (dots.style.display === "none") {
                    dots.style.display = "inline";
                    btnText.innerHTML = "Read more";
                    moreText.style.display = "none";
                } else {
                    dots.style.display = "none";
                    btnText.innerHTML = "Read less";
                    moreText.style.display = "inline";
                }
            }
        </script>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
            </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

</body>

</html>