<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <title>Movie Mela</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">MovieMela</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <%if(currentUser){%>
                <li class="nav-item active">
                    <a class="nav-link" href="/myfavourite/<%=currentUser._id%>">Favourite</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/logout">Log Out</a>
                </li>

                <%}else{%>
                <li class="nav-item active">
                    <a class="nav-link" href="/signup">Sign Up</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/login">Log in</a>
                </li>
                <%}%>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="/search">
                <input class="form-control mr-sm-2" type="text" name="name" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="container">
        <div class="head">
            <h3><strong>Trending Movies</strong><strong></h3>
        </div>
        <div class="row">
            <% data.results.forEach((element)=>{%>
                <div class="outer">
                    <div class="content3">
                        <img class="img-responsive"
                            src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/<%=element["poster_path"]%>"
                            alt="<%=element["original_title"]%>">
                    </div>
                    <div class="sidebar3">
                        <div>
                            <h4 class="heading"><strong>
                                    <% if(element["original_title"]){%>
                                    <%=element["original_title"]%>
                                    <%}else{%>
                                    <%=element["original_name"]%>
                                    <%}%>
                                </strong>
                        </h4>
                    </div>
                            <%if(element["release_date"]){%>
                                    <span><%=element["release_date"].substring(0,4)%></span>
                                    <%}%>
                                <%if(element["overview"].length>213){%>
                                    <p class="overview"><%=element["overview"].substring(0,213)%>..</p>
                                    <%}else{%>
                                    <p class="overview"><%=element["overview"].substring(0,213)%></p>
                                    <%}%>
                    <div class="know">
                        <a href="/display/<%=element['id']%>">Know More</a>
                        </div>
                    </div>
                </div>

                <%});%>
        </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</body>

</html>